
.speech {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size:small;
}
.directions{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.directions:hover{
    background-color:azure ;
    color: red;
}
.name{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.CAPT{
    color: aquamarine;
}
.JOSEPH{
    color: crimson;
}
.WJoe{
    color:coral;
}
.BOTH{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:chartreuse;
}

table.collapsing {
    border: solid 3px;
    border-collapse: collapse;
}

