
.speech {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size:small;
}
.directions{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.directions:hover{
    background-color:azure ;
    color: red;
}
.name{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.CAPT{
    color: aquamarine;
}
.JOSEPH{
    color: crimson;
}
.JOSEPH:hover{
    text-shadow:2px 3px 5px goldenrod

}
.WJoe{
    color:coral;
}
.BOTH{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:chartreuse;
}

table {
    border: solid 3px cornflowerblue;
    

}
td, th{border: solid 3px cornflowerblue;
    text-align: left;
    padding: 12px;
}
tr:nth-child(even){
    background-color: #e2e2e2;
}



